<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
	<div class="container">
		<div class="jumbotron">
			<h1>Tech And Solve, The Lazy Worker</h1>
			<p class="lead">
				Implements the code challenge for Tech And Solve.
			</p>
            <p>Use document named 'Lazy Document.doc' or 'Cargue Perezoso.doc' for the document challenge
            specification.</p>
		</div>
	</div>
	<!-- /.container -->
</body>
</html>